.product {
  height: 340px;
  background-image: url("../images/product-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $medium-screen-break-point) {
    height: 640px;
  }

  @media (max-width: $small-screen-break-point) {
    height: 580px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: $main-color;

    @media (max-width: $medium-screen-break-point) {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  &__image {
    margin-top: -20px;

    @media (max-width: $medium-screen-break-point) {
      margin-top: 20px;
      text-align: center;
    }
  }

  &__image img {
    width: 80%;
  }

  &__title {
    font-size: 60px;
    margin: 30px 0 25px;

    @media (max-width: $big-screen-break-point) {
      font-size: 40px;
      margin: 40px 0 15px;
    }

    @media (max-width: $small-screen-break-point) {
      font-size: 32px;
    }
  }

  &__name {
    color: #5774b8;
  }

  &__description {
    font-size: 26px;
    margin: 0 0 20px;

    @media (max-width: $big-screen-break-point) {
      font-size: 18px;
      margin: 0 0 10px;
    }
  }
}
