@import "./utils/vars";
@import "header";
@import "wrapper";
@import "navigation";
@import "card";
@import "button";
@import "symptoms";
@import "product";
@import "composition";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.product-name {
  color: $product-color;
  font-size: 60px;
  font-weight: 700;

  @media (max-width: $small-screen-break-point) {
    font-size: 36px;
    position: absolute;
    left: 110px;
  }
}
