$main-color: #3b3944;
$second-color: #2e2c35;
$third-color: #f56856;
$product-color: #4b69b0;
$hover-duration: 0.2s;
$big-screen-break-point: 1200px;
$medium-screen-break-point: 840px;
$small-screen-break-point: 520px;
